:host {
    display: block;
    padding: 12px;
}

mat-card {
    display: inline-block;

    .readme {
        font-family: monospace;
    }

    .package-manager {
        height: 2.5em;
        display: flex;
        align-items: center;

        #package-manager-label {
            margin-right: 8px;
        }

        .mat-radio-button ~ .mat-radio-button {
            margin-left: 16px;
        }
    }

    button,
    .auditDate {
        margin-left: 24px;
    }
}

table {
    $margin: 12px;
    width: calc(100% - #{2 * $margin});
    margin: $margin;
    box-sizing: border-box;
    max-width: 1200px;
}

.severity {
    padding: 8px;
    border-radius: 8px;

    &.info {
        background-color: darkgrey;
    }

    &.low {
        background-color: greenyellow;
    }

    &.moderate {
        background-color: yellow;
    }

    &.high {
        background-color: darkorange;
    }

    &.critical {
        background-color: red;
    }
}
